<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card" ng-controller="PouchCtrl">
      <div class="item item-divider">PouchDB status</div>
      <div class="item item-body">
        <div ng-show="pouchdbSupported">
          &#10003; PouchDB is working.
        </div>
        <div ng-show="!pouchdbSupported">
          &#10007; PouchDB is not working.
        </div>
        <div ng-show="idbSupported">
          &#10003; IndexedDB is supported.
        </div>
        <div ng-show="!idbSupported">
          &#10007; IndexedDB is not supported.
        </div>
        <div ng-show="websqlSupported">
          &#10003; WebSQL is supported.
        </div>
        <div ng-show="!websqlSupported">
          &#10007; WebSQL is not supported.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
